[Unit]
Description=Gunicorn instance to serve CoccinelliDB
After=network.target

[Service]
User=nginx
Group=nginx
WorkingDirectory=/opt/coccinellidb/CoccinelliDB
ExecStart=/opt/coccinellidb/venv/bin/gunicorn --workers 3 --bind unix:/tmp/gunicorn.sock 'app:create_app("production")'

[Install]
WantedBy=multi-user.target
